body {
  background: rgb(24, 30, 36);
  color:rgb(150, 160, 170);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h3 {
  color:rgb(151, 187, 224);
  font-weight: 550;
  text-align:center;
}
a, .number {
  color:rgb(197, 102, 34);
}

.compBlock {
  background:rgb(31, 56, 80);
  width:60vw;
  margin:8px;
  padding:6px 8vw 10px 8vw;
  border-radius: 10px;
  box-shadow: 2px 3px 2px black;
}

.featElement {
  background:rgb(31, 56, 80);
  width:60vw;
  margin:8px;
  padding:6px 8vw 10px 8vw;
  border-radius: 10px;
  box-shadow: 2px 3px 2px black;
}
.mainComponent {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.compTitle {
  font-weight: 600;
  margin: 10px 3px 10px 3px;
  color:rgb(151, 187, 224);
  width:100vw;
  text-align: center;
  font-size:22px;
}
.headerButtons {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.catButton {
  height:40px;
  width:30vw;
  background:rgb(31, 56, 80);
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: 600;
  color:rgb(151, 187, 224);
  box-shadow: 3px 4px 2px 0px black;
}
@media only screen and (min-width: 500px) {
  .mainComponent {
  flex-direction: row;
  align-items: normal;
  flex-wrap: wrap;
  justify-content:center;
  }
  .compBlock {
    width:30vw;
    padding:6px 4vw 10px 4vw;
  }
}
@media only screen and (min-width: 1000px) {
  .compBlock {
    width:300px;
    padding:6px 35px 10px 35px;
  }
}